.menuButton {
  position: absolute;

  display: grid;
  align-items: center;

  top: 0;
  right: 0;

  width: 32px;
  height: 32px;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  outline: none;

  background: white;
  color: rgba(0, 0, 0, 0.8);

  cursor: pointer;
}

.dialog {
  position: absolute;
  inset: 0;

  padding: 1rem;

  background: #fefefe;
  border-radius: 8px;

  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  height: 90px;
}

.inputLabel {
  display: flex;
  align-items: center;

  background: #e0e0e0;
  height: 48px;
  border-radius: 8px;
  padding: 0 16px;
  padding-right: 0;

  overflow: hidden;
}

.input {
  width: 100%;

  background: #f0f0f0;
  border: none;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;

  font-size: 1rem;

  height: 48px;

  margin-left: 0.4rem;
  padding-left: 0.4rem;
}

.alert {
  padding: 1rem;
  background: #ffa0a0;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.7);
}
